<header class=""></header>
<main class="">
  <div class="flex align-middle justify-center mt-20">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="triggerPurchase()">Trigger Purchase event</button>
  </div>
  <div class="flex align-middle justify-center mt-20">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="triggerAddToCart()">Trigger addToCart event</button>
  </div>
  <div class="flex justify-center mt-10">
    <span class="pr-5">Product Price: </span> {{ price }}
  </div>
</main>
<footer></footer>
